# Analysis Data product Lazada

### Data Load

In [1]:
import pandas as pd

* Produk Halal Indonesia

In [2]:
df1 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\lazada-soup-indonseia-indomie.csv')
df2 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\lazada-soup-indonseia-miesedap.csv')
df3 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\lazada-soup-indonseia-nutrisari.csv')
df4 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\lazada-soup-indonseia-romakelapa.csv')
df5 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\lazada-soup-indonseia-ultramilk.csv')
df6 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\lazada-soup-indonseia-wardah.csv')
df7 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\merge_biskuat.csv')
df8 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\merge_maybeline.csv')
df9 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_halal\merge_sariayu.csv')

In [3]:
df_indonesia_all_halal = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9], axis=0, ignore_index="True")
df_indonesia_all_halal

,Product_name,Product_price,Product_sold,Product_location,Product_category
0,Indomie Mi Instan Rasa Soto Mie 70 gr x 40pcs,Rp127.300,"9,999 Terjual",Kota Depok,Makanan/minuman
1,Indomie Mi Instan Goreng 85 gr x 5pcs,Rp15.000,"8,759 Terjual",Kota Depok,Makanan/minuman
2,Indomie Mi Instan Rasa Ayam Bawang 69 gr x 40pcs,Rp118.500,"9,999 Terjual",Kota Depok,Makanan/minuman
3,Indomie Mi Instan Goreng 85 gr x 40pcs,Rp133.440,"9,999 Terjual",Kota Depok,Makanan/minuman
4,Indomie Mi Instan Rasa Ayam Bawang 69 gr x 5pcs,Rp16.300,"4,459 Terjual",Kota Depok,Makanan/minuman
...,...,...,...,...,...
1754,Sariayu White Aromatic All In One 150ml/Sariay...,Rp18.088,647 Terjual,Kab. Bandung,Kosmetik/kecantikan
1755,Sariayu Body Lotion Eksotik Tanjung Plus Refre...,Rp17.940,421 Terjual,Kab. Bandung,Kosmetik/kecantikan
1756,Paket 3in1 Sariayu Acne Care ( Lotion jerawat ...,Rp69.460,210 Terjual,Kab. Bandung,Kosmetik/kecantikan
1757,Obat Jerawat/SariAyu Anti Acne/Sariayu Intensi...,Rp22.462,"5,212 Terjual",Kab. Bandung,Kosmetik/kecantikan
1758,SARIAYU compact powder refill,Rp11.469,"1,248 Terjual",Kab. Bandung,Kosmetik/kecantikan

In [4]:
df_indonesia_all_halal.to_csv('All_indonesia_halal.csv', index= False)

* Produk Non-Halal Indonesia

In [5]:
df10 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_non_halal\merge_birbintang_fix.csv')
df11 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_non_halal\merge_green_sands.csv')
df12 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_non_halal\merge_madame_gie.csv')
df13 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_non_halal\merge_maling.csv')
df14 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_non_halal\merge_nongshim.csv')
df15 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_non_halal\merge_skii.csv')
df16 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_non_halal\merge_skintific.csv')
df17 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Indonesia_non_halal\merge_spam.csv')

In [6]:
df_indonesia_all_nonhalal = pd.concat([df10,df11,df12,df13,df14,df15,df16,df17], axis=0, ignore_index="True")
df_indonesia_all_nonhalal

,Product_name,Product_price,Product_sold,Product_location,Product_category
0,BINTANG BOTOL BESAR 620mili,Rp37.000,131 Terjual,kota jakarta barat,Makanann/minuman
1,BINTANG Anggur Merah Beer Bremer Bir 620ml,Rp49.000,2 Terjual,kota jakarta utara,Makanann/minuman
2,Bir Bintang Pilsener 620ml,Rp42.000,"1,600 Terjual",kota jakarta barat,Makanann/minuman
3,BINTANG Pilsener kaleng 500ML,Rp28.000,715 Terjual,kab. tangerang,Makanann/minuman
4,Bir Bintang 620ml,Rp40.500,"1,500 Terjual",kota surabaya,Makanann/minuman
...,...,...,...,...,...
1646,[HALAL ] WULAMA Snack Camilan spicy Kulit tahu...,Rp18.800,232 Terjual,kota tangerang,Makanan/minuman
1647,Kellys Luncheon Ham Bacon Bits / Picante / Chi...,Rp52.500,128 Terjual,kota jakarta selatan,Makanan/minuman
1648,gulong pork leg with mushroom 397 gr kaki babi,Rp45.999,75 Terjual,kota tangerang selatan,Makanan/minuman
1649,"GOLDEN BRIDGE LUNCHEON MEAT SINGAPORE, MULTIPA...",Rp299.500,88 Terjual,kota jakarta selatan,Makanan/minuman
1650,TTS MaLing ( Pork ) exp 2024,Rp31.650,"8,599 Terjual",kota jakarta utara,Makanan/minuman

In [7]:
df_indonesia_all_nonhalal.to_csv('All_indonesia_nonhalal.csv', index= False)

* Produk Halal Malaysia

In [8]:
df18 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_halal\lazada-soup-malaysia-maggi.csv')
df19 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_halal\lazada-soup-malaysia-yeos.csv')
df20 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_halal\merge_mamee.csv')
df21 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_halal\merge_milo.csv')
df22 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_halal\merge_munchys.csv')
df23 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_halal\merge_silkygirl.csv')

In [9]:
df_malaysia_all_halal = pd.concat([df18,df19,df20,df21,df22,df23], axis=0, ignore_index="True")
df_malaysia_all_halal

,Product_name,Product_price,Product_sold,Product_location,Product_category
0,MAGGI Pedas Giler Roasted Chicken 5x76g,RM7.90,"9,999 sold",Selangor,Makanan/minuman
1,MAGGI 2-MINN Chicken 5 Packs 77g Each,RM4.70,"9,999 sold",Selangor,Makanan/minuman
2,MAGGI 2-MINN Asam Laksa 12X5X78G,RM57.80,"1,863 sold",Selangor,Makanan/minuman
3,MAGGI Nutrilicious Aglio Olio 5x77g,RM8.28,966 sold,Selangor,Makanan/minuman
4,MAGGI Marinade Paste Ayam Goreng Berempah 100g,RM4.40,395 sold,Selangor,Makanan/minuman
...,...,...,...,...,...
1315,SILKYGIRL MLBB Lip Tint 03 Orchid 1s,RM20.90,62 sold,Selangor,Kosmetik/kecantikan
1316,SILKYGIRL OMG Powder Matte Lipcolor 10 Mauve 1s,RM26.90,34 sold,Selangor,Kosmetik/kecantikan
1317,SILKYGIRL Matte Junkie Lip Cream 08 Artsy 1s,RM25.90,92 sold,Selangor,Kosmetik/kecantikan
1318,SILKYGIRL Shine-Free Loose Powder 02 Natural M...,RM25.90,177 sold,Selangor,Kosmetik/kecantikan
1319,SILKYGIRL SG Skin Prefect Liquid Foundation 03...,RM27.90,34 sold,Selangor,Kosmetik/kecantikan

* Produk Non-Halal Malaysia

In [10]:
df24 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_non_halal\merge_beer.csv')
df25 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_non_halal\merge_loreal.csv')
df26 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_non_halal\merge_nissin_cup_noodles_my.csv')
df27 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_non_halal\merge_redbull.csv')
df28 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_non_halal\merge_nongfu.csv')
df29 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_non_halal\merge_lays.csv')
df30 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Malaysia_non_halal\merge_maybelline.csv')

In [11]:
df_malaysia_all_nonhalal = pd.concat([df24,df25,df26,df27,df28,df29,df30], axis=0, ignore_index="True")
df_malaysia_all_nonhalal

,Product_name,Product_price,Product_sold,Product_location,Product_category
0,[BBD: 2/7/2023] Kirin Ichiban Japanese Beer Ca...,RM59.99,5 sold,Selangor,Makanan/minuman
1,Carlsberg Danish Pilsner 320ml /per Can,RM6.99,134 sold,Terengganu,Makanan/minuman
2,Carlsberg Danish Pilsner 320ml / 6 cans,RM39.99,18 sold,Terengganu,Makanan/minuman
3,Erdinger Weissbier with Fine Yeast Beer (500ml),RM22.50,5 sold,Selangor,Makanan/minuman
4,(Bestbefore:8/2023) Stella Artois Beer (330ml),RM13.50,NaN,NaN,Makanan/minuman
...,...,...,...,...,...
895,High Quality | Maybelline Superstay Ink Crayon...,RM32.00,NaN,NaN,Kosmetik/kecantikan
896,Maybelline Super Stay Matte Ink Pink Edition-1...,RM30.03,NaN,NaN,Kosmetik/kecantikan
897,Beauty set ☉Maybelline Fit Me Matte + Poreless...,RM82.58,NaN,NaN,Kosmetik/kecantikan
898,Maybelline Color Sensational Ultimatte Slim Li...,RM29.92,"2,769 sold",Selangor,Kosmetik/kecantikan
899,MAYBELLINE Fit Me Concealer,NaN,NaN,NaN,Kosmetik/kecantikan

In [12]:
df_malaysia_all_halal.to_csv('All_malaysia_halal.csv', index= False)
df_malaysia_all_nonhalal.to_csv('All_malaysia_nonhalal.csv', index= False)

* Produk Halal Singapore

In [13]:
df_singapore_all_halal = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Singapore_halal\merge_all_singapore.csv')
df_singapore_all_halal

,Product_name,Product_price,Product_sold,Product_location,Product_category
0,Cowhead Cheese Sandwich Crackers,$2.85,"9,999 sold",Singapore,Makanan/minuman
1,Cowhead Milk Cream Crackers,$2.85,"9,999 sold",Singapore,Makanan/minuman
2,Cowhead Cappuccino Butter Cookies,$2.85,"9,999 sold",Singapore,Makanan/minuman
3,Cowhead Crispy Cheese Crackers,$2.85,"8,135 sold",Singapore,Makanan/minuman
4,Cowhead Crispy Butter Crackers,$2.85,"6,547 sold",Singapore,Makanan/minuman
...,...,...,...,...,...
573,Myojo Dry Bowl MeePoh,$1.82,"5,916 sold",Singapore,Makanan/minuman
574,"Myojo Japanese Style Udon Noodle with Soup, 20...",$180.06,NaN,NaN,Makanan/minuman
575,Myojo Chicken Curry Flavour Bowl Noodles (Laz ...,$1.27,250 sold,Singapore,Makanan/minuman
576,Myojo Chicken Quick Noodle Cup (Laz Mama Shop),$1.08,145 sold,Singapore,Makanan/minuman
577,Kirei Myojo Chuka Zanmai Kanton Instant Noodles,$3.85,34 sold,NaN,Makanan/minuman

* Produk Non-Halal Singapore

In [14]:
df31 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Singapore_non_halal\LS-NH-monster (1).csv')
df32 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Singapore_non_halal\merge_calbee.csv')
df33 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Singapore_non_halal\merge_hello_panda.csv')
df34 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Singapore_non_halal\merge_laneige.csv')
df35 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Singapore_non_halal\merge_nissin_cup_noodles_sg.csv')
df36 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Singapore_non_halal\merge_ottogi.csv')

In [15]:
df_singpore_nonhalal = pd.concat([df31,df32,df33,df34,df35,df36], axis=0, ignore_index="True")
df_singpore_nonhalal

,Product_name,Product_price,Product_sold,Product_location,Product_category
0,Monster Pipeline Punch (355ML),$2.75,"2,035 sold",Singapore,Makanan/minuman
1,Monster Pipeline Punch (24 X 355ML) - Case,$57.60,293 sold,Singapore,Makanan/minuman
2,MONSTER ENERGY PACIFIC PUNCH EUROPE 500ML X 24...,$59.90,NaN,NaN,Makanan/minuman
3,MONSTER ENERGY YELLOW RIPPER EUROPE 500ML X 24...,$59.90,5 sold,Singapore,Makanan/minuman
4,MONSTER ENERGY ULTRA GOLD EUROPE 500ML X 24 (C...,$65.90,7 sold,Singapore,Makanan/minuman
...,...,...,...,...,...
757,KORYOMART - [Ottogi] Jin Jjajang Ramen Cup 70g...,$1.60,30 sold,Singapore,Makanan/minuman
758,Ottogi Low Calories Cup Noodles,$19.90,NaN,NaN,Makanan/minuman
759,Ottogi Real Cheese Ramen 135g x 4pkt,$9.70,47 sold,Singapore,Makanan/minuman
760,Ottogi Japchae Korean Traditional Instant Nood...,$3.50,15 sold,Singapore,Makanan/minuman
761,Ottogi Japchae Korean Traditional Instant Nood...,$24.00,8 sold,Singapore,Makanan/minuman

In [17]:
df_singapore_all_halal.to_csv('All_singapore_halal.csv', index= False)
df_singpore_nonhalal.to_csv('All_singapore_nonhalal.csv', index= False)

* Produk Halal Thailand

In [18]:
df37 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_halal\LT-H-lucky me.csv')
df38 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_halal\LT-H-serda (1).csv')
df39 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_halal\Lt-H-voiz cracker.csv')
df40 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_halal\merge_colgate.csv')
df41 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_halal\merge_fitne.csv')
df42 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_halal\merge_hotta.csv')

In [19]:
df_thailand_halal = pd.concat([df37,df38,df39,df40,df41,df42], axis=0, ignore_index="True")
df_thailand_halal

,Product_name,Product_price,Product_sold,Product_location,Product_category
0,Lucky Me Pancit Canton 80g,?27.00,"1,193 sold",Bangkok,Makanan/minuman
1,"lucky Me Beef (Sept.10, 2023)",?20.00,139 sold,Chonburi,Makanan/minuman
2,Pancit Canton Kalamansi New Packaging,?25.00,404 sold,Bangkok,Makanan/minuman
3,Pancit Canton Chilimansi (New packaging),?25.00,504 sold,Bangkok,Makanan/minuman
4,lucky me pancit canton original 80g(oct 17 2022),?25.00,7 sold,Chonburi,Makanan/minuman
...,...,...,...,...,...
626,HOTTA ฮอทต้า ขิงผงสำเร็จรูป สูตรต้นตำรับ ผสมหญ...,?279.00,11 sold,NaN,Makanan/minuman
627,HOTTA ฮอทต้า ขิงผงสำเร็จรูป สูตรเข้มข้น ผสมหญ้...,?359.00,55 sold,Kanchanaburi,Makanan/minuman
628,Hotta Fushion Ginger Match Latte ฮอทต้า ฟิวชั่...,?138.00,NaN,NaN,Makanan/minuman
629,Hotta Fushion Ginger Lime ฮอทต้า ฟิวชั่น ขิงมะ...,?138.00,NaN,NaN,Makanan/minuman
630,HOTTA น้ำขิงฮอทต้า เครื่องดื่มสมุนไพรขิงผงสำเร...,?489.00,NaN,NaN,Makanan/minuman

* Produk Non-Halal Thailand

In [20]:
df43 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_non_halal\LT-NH-redbull (1).csv')
df44 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_non_halal\merge_khaoshong.csv')
df45 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_non_halal\merge_kitkat.csv')
df46 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_non_halal\merge_mama.csv')
df47 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_non_halal\merge_mistine.csv')
df48 = pd.read_csv('D:\Kuliah\SKRIPSI\Project_skripsi\Data merge\Thailand_non_halal\merge_taokaenoi.csv')

In [21]:
df_thailand_nonhalal = pd.concat([df43,df44,df45,df46,df47,df48], axis=0, ignore_index="True")
df_thailand_nonhalal

,Product_name,Product_price,Product_sold,Product_location,Product_category
0,RED BULL Energy Drink (Europe Imported) เรดบูล...,฿349.00,90 sold,Samut Prakan,Makanan/minuman
1,เรดบูล เอ็กซ์ตร้า 170 มล. 24 ขวด ยกลัง RED BUL...,฿349.00,"8,012 sold",Bangkok,Makanan/minuman
2,ใหม่ล่าสุด! กระทิงแดง เอ็กซ์ตร้า เอบีซี เครื่อ...,฿133.00,NaN,NaN,Makanan/minuman
3,เรดบูล กลิ่นฮอลล์ เอ็กซ์เอส เมนโทลิปตัส 170 มล...,฿348.00,100 sold,Bangkok,Makanan/minuman
4,เรดบูล กลิ่นฮอลล์ เอ็กซ์เอส วอเตอร์เมลอน 170 ม...,฿348.00,131 sold,Bangkok,Makanan/minuman
...,...,...,...,...,...
566,❤พร้อมส่ง ของอยู่ไทย❤ เถ้าแก่น้อย สาหร่ายทอดสล...,?589.00,NaN,NaN,Makanan/minuman
567,❗❗ของมีจำนวนจำกัด❗❗ เถ้าแก่น้อย TAO KAE NOI สา...,"?1,479.00",NaN,NaN,Makanan/minuman
568,✨ของมีจำนวนจำกัด✨ สาหร่าย เถ้าแก่น้อย TAO KAE ...,?809.00,NaN,NaN,Makanan/minuman
569,"!!มาใหม่!! เถ้าแก่น้อย สาหร่ายเทมปุระ,TAO KAE ...",?489.00,NaN,NaN,Makanan/minuman
570,⚡ของมีจำนวนจำกัด⚡ สาหร่าย เถ้าแก่น้อย บิ๊กชีส ...,?259.00,NaN,NaN,Makanan/minuman

In [ ]:
df_thailand_halal.to_csv('All_thailand_halal.csv', index= False)
df_thailand_nonhalal.to_csv('All_thailand_nonhalal.csv', index= False)